@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:wght@200&display=swap');

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  font-family: 'Overpass', sans-serif;
  /* background: linear-gradient(120deg, var(--DarkBlue), var(--VeryDarkBlue)); */
  /* background-color: red; */
}

/* color: azure; */
/* ul li {
  background-color: gray;
 
  font-size: medium;
  text-align: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
} */


/* ul li:active,
ul li:focus,
ul li:visited {
  background-color: coral;
} */